h1 {
    color: white;
    font-size: 18px;
    font-weight: 700;
}

p {
    color: rgb(214, 214, 214);
    font-size: 14px;
    font-weight: 200;
}

.footer-content {
    background-color: #232F3E;
}

.important-info {
    display: flex;
    justify-content: space-between;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 8vw;
    padding-right: 8vw;
    gap: 30px;
}

.links p {
    padding-bottom: 10px;
}

.legal-info {
    background-color: #131A22;
}

.footer-line {
  width: 100vw;          
  height: 1px;
  border: none;
  background-color: #bababa;   
  opacity: 0.6;
}

.logo-language {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.amazon-logo-footer {
    width: 100px;
    height: 30px;
}

.language {
    display: flex;
    align-items: center;
    gap: 5px;

    border: solid #bababa 1px;
    border-radius: 4px;

    padding: 5px;
}

.flag {
    width: 20px;
}

.legal-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.legal-info p {
    font-weight: 500;
}